[submodule "4.0"]
	path = 4.0
	url = https://github.com/wet-boew/wet-boew-dist.git

[submodule "wet-boew"]
	path = wet-boew
	url = https://github.com/wet-boew/wet-boew-dist.git
	branch = v4.0-dist

[submodule "v4.0-ci"]
	path = v4.0-ci
	url = https://github.com/wet-boew/wet-boew-dist.git
	branch = v4.0-dist
